# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [8]:
import numpy as np
import pandas as pd

### 2. Create a Pandas Series containing the elements of the list below.

In [11]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [13]:
pd_series = pd.Series(lst)
print(pd_series)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [14]:
print(pd_series[2])

74.4

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [16]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [18]:
df = pd.DataFrame(b)
print(df)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Rename the data frame columns based on the names in the list below.

In [19]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [21]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']
df = pd.DataFrame(np.random.random((10,5)), columns = colnames)
df

    Score_1   Score_2   Score_3   Score_4   Score_5
0  0.000992  0.745993  0.848064  0.099131  0.434772
1  0.931898  0.907026  0.144542  0.553865  0.989384
2  0.774398  0.967783  0.132962  0.406233  0.284040
3  0.771305  0.436380  0.177792  0.325234  0.414490
4  0.316579  0.004971  0.876285  0.633908  0.104791
5  0.588092  0.043129  0.426893  0.359269  0.136183
6  0.277905  0.273967  0.743808  0.204836  0.211477
7  0.447617  0.809906  0.050201  0.978573  0.078216
8  0.326428  0.613596  0.158724  0.277814  0.550084
9  0.840037  0.543083  0.525605  0.408018  0.377976

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [26]:
df[['Score_1','Score_3','Score_5']]

    Score_1   Score_3   Score_5
0  0.000992  0.848064  0.434772
1  0.931898  0.144542  0.989384
2  0.774398  0.132962  0.284040
3  0.771305  0.177792  0.414490
4  0.316579  0.876285  0.104791
5  0.588092  0.426893  0.136183
6  0.277905  0.743808  0.211477
7  0.447617  0.050201  0.078216
8  0.326428  0.158724  0.550084
9  0.840037  0.525605  0.377976

### 7. From the original data frame, calculate the average Score_3 value.

In [33]:
df1 = df['Score_3'].mean()
print(df1)

0.4084875813933223

### 8. From the original data frame, calculate the maximum Score_4 value.

In [34]:
df1 = df['Score_4'].max()
print(df1)

0.9785730675082563

### 9. From the original data frame, calculate the median Score 2 value.

In [36]:
df1 = df['Score_2'].median()
print(df1)

0.5783394501394383

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [38]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [47]:
orders_asig = pd.DataFrame(orders)
print(orders_asig)

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [49]:
orders_asig[['Quantity','Revenue']].sum()

Quantity    2978.0
Revenue      637.0
dtype: float64

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [51]:
cheaper = orders_asig['UnitPrice'].min()
mexpens = orders_asig['UnitPrice'].max()

difference = mexpens - cheaper
print(difference)

11.77